*{
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
}

.box {
    text-align: center;
    line-height: 150px;
    font-size: 60px;
    font-weight: 400;
}

.container {
    height: 450px;
    width: 500px;
    background-color: aqua;

}

.inner {
    height: 150px;
    width: 150px;
    background-color: blue;
}

.outer {
    height: 150px;
    width: 150px;
    background-color: red;
}

.wrap {
    height: 150px;
    width: 150px;
    background-color: orange;
}


