/* DEFAULTS */

*{
    /* outline: 1px solid red; */
    margin: 0;
    padding: 0;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Playfair Display', serif;
}

/* MODULE-03 Additional Tasks-1 */
/* Header - Navigation - Menu */
.wrapper {
    width: 1200px;
    margin: 0 auto;
}

.main-header {
    background-color: #3a3e64;
}

.page-nav {
    padding: 38px 0;
}

.nav-list-item {
    list-style: none;
    text-align: center;
    font-size: 18px;
    font-weight:700;
}

.nav-list-item .menu-item:not(:last-child) {
    margin-right: 20px;
}

.menu-item {
    padding: 20px 48px;
    display: inline-block;
}

.menu-item .menu-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
}

.menu-link {
    display: inline-block;
}

.menu-item:hover .menu-link,
.menu-item:focus .menu-link {
    color: #000000;
}

/* MODULE-03 Additional Tasks-2 */
/* Article with IMAGE */
.wrap {
    width: 470px;
    margin: 0 auto;
}

.page-article {
    padding: 15px;
    border: 1px solid #C1F1E4;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.image-article {
    width: 100%;
}
