/* DEFAULTS */

* {
    /* outline: 1px solid red; */
    margin: 0;
    padding: 0;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}

body {
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Playfair Display', serif;
}

/* MODULE-03 Additional Tasks-1 */
/* Header - Navigation - Menu */
.wrapperA {
    width: 1200px;
    margin: 0 auto;
}

.main-header {
    background-color: #3a3e64;
    margin-bottom: 30px;
}

.page-nav {
    padding: 38px 0;
}

.nav-list-item {
    list-style: none;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

.nav-list-item .menu-item:not(:last-child) {
    margin-right: 20px;
}

.menu-item {
    padding: 20px 48px;
    display: inline-block;
}

.menu-item .menu-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
}

.menu-link {
    display: block;
}

.menu-item:hover .menu-link,
.menu-item:focus .menu-link {
    color: #000000;
}

/* MODULE-03 Additional Tasks-2 */
/* Article with IMAGE */
.wrapperB {
    width: 470px;
    margin: 0 auto;
}

.page-article {
    padding: 15px;
    margin-bottom: 30px;
    border: 1px solid #C1F1E4;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.image-article {
    width: 100%;
    margin-bottom: 15px;
}

.subtitle {
    font-size: 16px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #cebdbd;
}

.main-title {
    margin-bottom: 25px;
    font-weight: 500;
    color: #918282;
    font-size: 30px;
}

.article {
    font-size: 14px;
    color: #928484;
    text-align: justify;
    margin-bottom: 21px;
}

/* MODULE-03 Additional Tasks-3 */
/* Articles with IMAGES */
.wrapperC {
    width: 960px;
    margin: 0 auto;
    font-size: 0;
    margin-bottom: 50px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.section-one {
    display: inline-block;
    margin-right: 20px;
    padding: 35px;
}

.section-two {
    display: inline-block;
    padding: 35px;
}

/* Footer for Article-Page-Images */
.page-footer {
    width: 100%;
    background-color: #3a3e64;
    padding: 38px 0;
    margin-bottom: 500px;
}

.license {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
}

.symbol {
    vertical-align: super;
    font-size: 10px;
}


/* Box-Shadow the effect - PRACTICE */
.outer-box {
    width: 800px;
    height: 400px;
    margin: 0 auto;
}

.box {
    width: 250px;
    height: 30px;
    margin: 70px;
    display: inline-block;
    border-radius: 10px;
    vertical-align: top;
}

.one {
    box-shadow:
        10px 35px 0 rgb(8%, 80%, 5%),
        -10px 70px 0 rgb(120%, 60%, 0%),
        20px 105px 0 rgb(8%, 80%, 5%),
        -1px 140px 0 rgb(120%, 60%, 0%),
        -20px 175px 0 rgb(8%, 80%, 5%),
        10px 210px 0 rgb(120%, 60%, 0%);
}

.two {
    width: 30px;
    height: 250px;
    box-shadow:
        35px 10px 0 rgb(48%, 30%, 45%),
        70px -10px 0 rgb(120%, 60%, 50%),
        105px 20px 0 rgb(48%, 30%, 45%),
        140px -1px 0 rgb(120%, 60%, 50%),
        175px -20px 0 rgb(48%, 30%, 45%),
        210px 10px 0 rgb(120%, 60%, 50%);
}


/* Box-Shadow with Linear-Gradient - IMAGE */
.box-shadow-img {
    width: 800px;
    height: 450px;
    margin: 0 auto;
    box-shadow: 2px 2px 5px 5px rgba(0%, 0%, 0%, 0.5);
    background: 
    linear-gradient(180deg, 
    rgba(0%, 0%, 0%, 0),
    rgba(0%, 0%, 0%, 0.3)30%,
    rgba(0%, 0%, 0%, 0.9)),
    url(/TRAINING/html-css-js/image/pexels-dolphins.jpg);
    background-size: cover;
    transition: all .5s linear;
    filter: grayscale(1);
}

.box-shadow-img:hover,
.box-shadow-img:focus {
    background: url(/TRAINING//html-css-js/image/pexels-dolphins.jpg);
    background-size: cover;
    transform: scale(1.15);
    filter: grayscale(0);
}


/* MODULE-04 Additional Tasks FLOAT*/
/* Task-01 */
.container {
    width: 960px;
    margin: 0 auto;
}

.header-main-float {
    background-color: #dba542;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
}

.navigation-page-float {
    padding: 28px 0;
}

.menu-nav-float {
    list-style-type: none;
}

.menu-item-float .menu-link-float {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    color: #008080;
}

.menu-nav-float .menu-item-float {
    float: left;
}

.menu-link-float {
    display: block;
}

.menu-nav-float .menu-item-float:not(:last-child) {
    margin-right: 20px;
}

.menu-item-float {
    padding: 30px 31px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.menu-item-float:hover .menu-link-float,
.menu-item-float:focus .menu-link-float {
    color: #200420;
    background-color: #dc143c;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/* MODULE-04 Additional Tasks FLOAT*/
/* Task-02 */
.section-cards {
    margin-bottom: 30px;
}

.item-cards {
    list-style-type: none;
    text-transform: uppercase;
    color: #0E1116;
    font-weight: 500;
    font-size: 18px;
}

.item-cards-list {
    float: left;
    width: 250px;
    height: 100px;
    text-align: center;
    padding: 41px 0;
    cursor: pointer;
}

/* Выбрать всех детей из коллекции кроме каждого '3n' ребенка */
.item-cards-list:not(:nth-child(3n)) {
    margin-right: 105px;
}

/* Выбрать первых шесть детей из коллекции, остальных не учитывать */
.item-cards-list:nth-child(-n +6) {
    margin-bottom: 30px;
}

/* 
Происходящее вычесление работает следующим образом:
--(3 * 3)- 8 = 1; --(3 * 3)- 7 = 2; --(3 * 3)- 6 = 3;
Таким образом с помощью псевдокласса ->>> :nth-child  можем получить
первый,второй и третий 'n'- элемент сделав такую выборку поочередно по цвету.
*/
.item-cards-list:nth-child(3n -8) {
    background-color:#88292F;
}

.item-cards-list:nth-child(3n -7) {
    background-color: #5DB7DE;
}

.item-cards-list:nth-child(3n -6) {
    background-color: #0D5D56;
}

.item-cards-list:hover {
    color: #ffffff;
    transform: scale(1.1);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/* MODULE-04 Additional Tasks */
/* Task-03 */
.list {
    text-transform: uppercase;
    list-style-type: none;
}

.list-item {
    display: inline-block;
}

.list-item .link-list {
    display: block;
    text-decoration: none;
}

.list-item:not(:last-child) {
    margin-right: 27px;
}

.link-list::before {
    content: '\2192';
}

/* MODULE-04 Additional Tasks  'counter-increment & ::before'*/
/* Task-04 */
.article-list {
    counter-reset: article-count;
    list-style: none;
}

.article-item::before {
    counter-increment: article-count;
    content: counter(article-count, upper-roman);
    /* display: inline-block; */
    background-color: #5DB7DE;
    color: #ffffff;
    width: 40px;
    height: 40px;
    margin: 10px 15px 0 10px;
    padding: 8px;
    text-align: center;
    font-size: 20px;
    float: left;
}

.article-item {
    cursor: pointer;
    margin-bottom: 20px;
    border-bottom: 1px solid #424242;
}

.article-text {
    line-height: 20px;
    text-indent: 15px;
}

.article-text::first-letter {
    font-weight: 700;
    font-size: 20px;
    color: #5DB7DE;;
}

.article {
    padding: 10px;
}

.article:hover {
    color: #88292F;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 1px 10px rgba(0, 0, 0, 0.22);
}






